<ion-popover-view class="popover-fit-view">
  <ion-content scroll="false">
    <div class="popover-fit-content">
      <ion-list>
        <ion-item ng-if="false" ng-click="showActionSheetFoto()" class="item-icon-left"><i class="icon icon-medium ion-camera"></i>Adjuntar una foto</ion-item>
        <ion-item ng-if="false" ng-click="showModalNotaSoporte()" class="item-icon-left"><i class="icon icon-medium ion-compose"></i>Agregar una nota</ion-item>
        <ion-item ng-if="false" ng-click="showModalFotoActual()" class="item-icon-left"><i class="icon icon-medium ion-compose"></i>TEST</ion-item>
        <ion-item class="item-icon-left"><i class="icon icon-medium ion-shuffle"></i>Re-asignar tecnico</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-popover-view>